
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 98%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Popins', sans-serif;
}
.card {
    display: flex;
    position: relative;
    
}
.head{
    text-align: center;
    width: 300px;
}
.head :first-child{
    margin-bottom: 0;
    color: hsl(228, 12%, 44%);
}
.head h2{
    line-height: 10px;
    
}
.head p{
    color: hsl(228, 12%, 44%);
    font-size: 15px;
}
p{
    color: hsl(228, 12%, 44%);
    font-size: 11px;
}
.card-supervisor{
    background-color: white;
    width: 250px;
    height: 130px;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    box-shadow: 2px 2px 10px hsl(229, 18%, 53%);
    border-top: 3px solid hsl(180, 62%, 55%);
    position: relative;
}
.card-supervisor img{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 12px;
}
.team-builder{
    background-color: white;
    width: 250px;
    height: 130px;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    box-shadow: 2px 2px 10px hsl(229, 18%, 53%);
    border-top: 3px solid hsl(0, 78%, 62%);
    position: relative;
}
.team-builder img{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 12px;
}
.karma{
    background-color: white;
    width: 250px;
    height: 130px;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    box-shadow: 2px 2px 10px hsl(229, 18%, 53%);
    border-top: 3px solid hsl(34, 97%, 64%);
    position: relative;
}
.karma img{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 12px;
}
.card-calculator{
    background-color: white;
    width: 250px;
    height: 130px;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    box-shadow: 2px 2px 10px hsl(229, 18%, 53%);
    border-top: 3px solid hsl(212, 27%, 19%);
    position: relative;
}
.card-calculator img{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 12px;
}
.card-supervisor, .card-calculator {
    margin-top: 100px;
}

@media screen and (max-width: 768px){
    .container{
        height: auto;
    }
    .card{
        display: grid;
    }
    .card-supervisor, .card-calculator{
        margin-top: 0;
    }
    .container{
        margin: 50px;
    }
    
    
}

